body {
	margin: 0;
	font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
	  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #000;
	color: #fff;
	overflow: hidden;
  }
  
  ::selection {
	background-color: #ccc;
	color: #000;
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  
  a {
	color: #B5E8E0;
	text-decoration: none;
  }

  a:hover {
	  opacity: 80%;
	  transition: 0.2s;
  }
  
  p {
	color: #ccc;
  }

:root {
	/*                 H     S     L */
	--rosewater_hsl:  10,  56%,  91%;
	--flamingo_hsl:    0,  59%,  88%;
	--mauve_hsl:     279,  70%,  83%;
	--pink_hsl:      316,  72%,  86%;
	--maroon_hsl:    349,  60%,  77%;
	--red_hsl:       342,  79%,  75%;
	--peach_hsl:      24,  88%,  78%;
	--yellow_hsl:     41,  88%,  84%;
	--green_hsl:     128,  58%,  79%;
	--teal_hsl:      171,  53%,  81%;
	--blue_hsl:      207,  93%,  79%;
	--sky_hsl:       189,  71%,  73%;
	--lavender_hsl:  238, 100%,  89%;
	--black0_hsl:    254,  25%,  10%;
	--black1_hsl:    249,  23%,  12%;
	--black2_hsl:    240,  21%,  15%;
	--black3_hsl:    249,  18%,  22%;
	--black4_hsl:    254,  12%,  36%;
	--gray0_hsl:     247,   8%,  46%;
	--gray1_hsl:     274,  11%,  59%;
	--gray2_hsl:     285,  10%,  75%;
	--white_hsl:     220,  38%,  89%;
}

